{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div style="min-height: 85vh" class="center-screen">
    <div>
        <font size="+3" FONT COLOR="WHITE"><strong>
                <p>I agree to having my weekly listening data saved</p>
                <p>I agree that this data will become public to anyone who views the website</p>
                <font size="+2" FONT COLOR="WHITE"><strong>
                        <br>
                        <p>By clicking next, I agree to these terms and conditions</p>
                        <br><br>
                        <a href="/callback">Next</a>

                    </strong></font>
            </strong></font>
    </div>
</div>
<font size="+2" FONT COLOR="WHITE">
    <div style="min-height: 5vh" class="center-screen">
        <br>
        Note: Because the service is still in beta, only authorized
        users are allowed to sign up
    </div>
</font>
{% endblock %}