{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div style="min-height: 85vh" class="center-screen">
        <div>
            <font size="+3" FONT COLOR="WHITE"><strong>
                    <p>Deleting this account will mean that listening information will no longer be tracked</p>
                    <p>All listening data associated with the account will also be deleted</p>
                    <font size="+2" FONT COLOR="WHITE"><strong>
                            <br>
                            <p>By clicking next, I understand that my tracker will be deleted</p>
                            <br><br>
                            <a class="link_users" href="/">Back</a>
                            <a class="link" href="/delete">Delete</a>
    
                        </strong></font>
                </strong></font>
        </div>
    </div>
{% endblock %}