<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=", shrink-to-fit=yes, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul class="nav__links">
                {% for item in data %}
                {% if "True" in item.logged_in%}
                <li><a href="/User/{{item.id}}">Home</a></li>
                {% else %}
                <li><a href="/">Home</a></li>

                {% endif %}
                {% endfor %}
                <li><a href="/about">About</a></li>
                <li><a href="/Users">Users</a></li>
                <li><a href="/github">GitHub</a></li>
            </ul>
        </nav>
        {% for item in data %}
        {% if "True" in item.logged_in%}
        <a class="cta" href="/UserInfo">{{item.display_name}}</a>
        {% else %}
        <a class="cta" href="/confirm">Login with Spotify</a>
        {% endif %}
        <p class="menu cta">Menu</p>
        {% endfor %}
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>