{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<font size="+2" COLOR="WHITE"><strong>
        <div id="song_name_div" style="min-height: 85vh" class="center-screen">
            <table>
            {% for result in data %}
            {% for elem in result.names %}
            <tr class="link_margin">
                <td><a class="link_users" href="/User/{{elem.id}}/">{{elem.display_name}}</a></td>
                <br>
                <!-- <td><a href="/User/{{elem.id}}/">{{elem.display_name}} ({{elem.id}})</a></td> -->
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
</font></strong>
{% endblock %}
