{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="center-screen">
        <div id="song_name_div" class="center-screen2">
            {% for result in data %}
            <tr>
                {% for elem in result.names %}
                <td><a href="/User/{{elem.id}}/">{{elem.display_name}} ({{elem.id}})</a></td>
                <!-- <td>{{elem.id}}</td> -->
                <br>
                {% endfor %}
            </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
