<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=", shrink-to-fit=yes, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>

        <!-- <a class="logo" href="/"><img src="{{ url_for('static', filename='l.svg') }}" alt="logo"></a> -->

        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </nav>
        {% for item in data %}
        {% if "True" in item.logged_in%}
        <a class="cta" href="UserInfo">{{item.display_name}}</a>
        <p class="menu cta">Menu</p>
        {% else %}
        <a class="cta" href="callback">Login</a>
        <p class="menu cta">Menu</p>
        {% endif %}
        {% endfor %}

    </header>

    <ul>
        {% for item in data %}
        <FONT COLOR="WHITE">
            <li>{{item.display_name}}</li>
            <li>{{item.id}}</li>
            {% endfor %}
    </ul>

</body>







</html>